<h2>Lists <%= link_to "(+)", new_list_path %></h2>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %>
      (<%= list.movies.count %>)
    </li>
  <% end %>
</ul>

<div class="go-back">
  <%= link_to "Go Back", :back %>
</div>
