<section class="lists-index">
  <header>
    <h2>Lists <%= link_to "(+)", new_user_list_path(current_user) %></h2>
  </header>

  <div class="all-lists">
    <% @user.lists.order('id DESC').each do |list| %> # put the lists.order logic in the controller.  
      <%= link_to user_list_path(@user, list) do %>
        <div class="each-list">
          <p><%= list.name %></p>
          <p>(<%= list.movies.count %> movies)</p>
        </div>
      <% end %>
    <% end %>
  </div>

</section>
