<section class="movies-index">

  <div class="all-movies">
    <% @movies.each do |movie| %>

      <div class="each-movie">
        <%= link_to movie_path(movie) do %>

          <div class="movie-poster-container">
            <%= image_tag(movie.poster_url, alt: "Movie Poster for #{movie.title}") %>

            <h4 class="movie-title"><%= movie.title %></h4>
          </div>

        <% end %>
      </div>

    <% end %>
  </div>

</section>
