<section class="movies-index">
  
    <div class="all-movies">
      <% @movies.each do |movie| %>
        <div class="each-movie">
          <div class="movie-poster-container">
            <%= link_to image_tag(movie.poster_url, alt: "Movie Poster for #{movie.title}"), movie_path(movie) %>
          </div>
          <h3 class="movie-title"><%= link_to movie.title, movie_path(movie) %></h3>
        </div>
      <% end %>
    </div>

</section>
