<section class="movies-index">

    <h2>Movies <%= link_to "(+)", new_movie_path %></h2>
    <h2><%= link_to "Lists", lists_path %></h2>

    <div class="all-movies">
      <% @movies.each do |movie| %>
        <div class="each-movie">
          <%= link_to image_tag(movie.poster_url, alt: "Movie Poster for #{movie.title}", class: "movie-poster"), movie_path(movie) %>
          <h3><%= link_to movie.title, movie_path(movie) %></h3>
        </div>
      <% end %>
    </div>

</section>
