<h2>Movies <%= link_to "(+)", new_movie_path %></h2>
<h2><%= link_to "Lists", lists_path %></h2>

<% @movies.each do |movie| %>
  <h3><%= link_to movie.title, movie_path(movie) %></h3>
  <%= link_to image_tag(movie.poster_url, alt: "Movie Poster for #{movie.title}", class: "movie-poster"), movie_path(movie) %>
<% end %>
