/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ----- BASE STYLES ----- */
html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #fafafa;
	border-top: 10px solid #212121;
	color: #212121;
	font-family: 'Karla', sans-serif;
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3,
.h3 {
	font-size: 20px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

h3 > span {
	text-transform: none;
}

h4,
.h4 {
	font-size: 14px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

p {
	line-height: 1.6;
	max-width: 600px;
}

a {
	color: #212121;
	text-decoration: none;
}

.underline-links:hover {
	border-bottom: 2px solid #212121;
}

img {
	width: 100%;
}

.btn {
	background-color: #ffffff;
	border: 1px solid #212121;
	border-radius: 0;
	color: #212121;
	cursor: pointer;
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	letter-spacing: 0.8px;
	outline: none;
	padding: 10px 20px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #212121;
	color: #ffffff;
}

section header {
	margin: 0;
	padding: 0 40px;
	/*border: 1px solid black;*/
	/*width: 100%;
	text-align: center;*/
}

.go-back {
	font-size: 14px;
	letter-spacing: 0.4px;
	margin: 50px 0;
	text-transform: uppercase;
}

/* change border-bottom color */
.go-back a:hover {
	border-bottom: 2px solid #212121;
}

.edit-options a {
	font-size: 14px;
	margin-right: 12px;
}

/* form */
.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-sides {
	display: flex;
}

.form-left,
.form-right {
	margin: 0 30px;
}

.form-section {
	margin: 20px 0;
}

.form-section label {
	font-size: 14px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

.form-field {
	font-size: 16px;
	padding: 7px 5px;
	width: 350px;
	margin-top: 8px;
}

.form-field:focus {
	outline: none;
}

.checkbox > label {
	font-size: 16px;
	text-transform: none;
}

.form-submit-btn {
	text-align: center;
}

.form-submit-btn .btn {
	width: 150px;
}

/* ----- NAV ----- */
nav {
	padding: 15px 30px;
	display: flex;
	align-items: center;
}

nav a,
.signed-in-user-email {
	display: inline-block;
	letter-spacing: 0.4px;
	margin-left: 22px;
}

.nav-logo {
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	letter-spacing: 0.4px;
	margin-right: auto;
	margin-left: 0;
}

/*----- FLASH AND ERROR MESSAGES ----- */
.flash-messages,
.error-messages {
	font-size: 14px;
	letter-spacing: 0.4px;
	margin: 0;
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*----- MOVIES ----- */
.all-movies-heading {
	background-color: #fafafa;
	color: #212121;
	text-align: center;
	padding: 10px;
}

.all-movies-heading h3 {
	font-size: 18px;
	line-height: 1.6;
}

.all-movies {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: space-around;
	justify-content: space-around;
}

.each-movie {
	margin: 30px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 1;
}

.each-movie .movie-poster-container {
	width: 200px;
}

/* wrap and re-center long movie titles */
.movie-title {
	overflow-wrap: break-word;
	text-align: center;
}

.movie-show {
	padding: 0 30px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

/* movie show page poster sizing */
.movie-poster-container {
	flex: 1;
}

.movie-details {
	margin: 0 30px;
	padding: 0 30px;
	flex: 2;
}

/* SEARCH MOVIES */
.search-movies {
	color: #212121;
	/*background-color: #f4cbb6;*/
	min-height: 400px;
	padding: 30px 0;
	text-align: center;
}

.search-movies-form-field {
	border: 1px solid #212121;
}

.no-movie-found {
	text-align: center;
}

.add-movie-manually {
	display: block;
	margin: 20px 0;
}

.all-search-results {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
}

.search-movies-submit-btn {
	padding: 8px 20px;
}

.add-tmdb-movie-link:hover {
	border-bottom: 2px solid #212121;
}

/*----- LISTS -----*/
.all-lists {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
}

.each-list {
	border: 1px solid black;
	height: 200px;
	margin: 30px;
	width: 300px;
	flex-basis: 300px;
	flex-grow: 0;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list-show header {
	margin: 30px 0;
}

.list-show h2 {
	margin-bottom: 15px;
}

.list-show .edit-options {
	margin-left: 3px;
}

/*----- GROUPS -----*/
.add-movie-to-list-header {
	margin-top: 0;
}

.new-group-form-field {
	padding: 0;
	margin-top: 8px;
}

.new-group-list-label {
	margin-left: 5px;
}

/*----- MEDIA QUERIES ----- */
@media screen and (max-width: 768px) {
	/*--- BASE STYLES ---*/
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 12px;
	}

	p {
		font-size: 14px;
	}

	/*--- MOVIES ---*/
	.each-movie {
		margin: 10px;
	}

	.movie-poster-container {
		flex: 1;
	}

	.movie-details {
		flex: 1;
	}
}

@media screen and (max-width: 700px) {
	/*--- NAV --- */
	nav {
		padding: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.nav-logo {
		margin-right: 0;
		margin-top: 20px;
	}

	nav a,
	.signed-in-user-email {
		margin: 10px 0;
	}

	/*--- FORM ---*/
	.form-sides {
		flex-direction: column;
	}

	.form-left,
	.form-right {
		margin: 0;
	}

	/*--- LISTS --- */
	.all-lists {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 16px;
	}

	/*--- MOVIES ---*/
	.movie-show {
		padding: 0 20px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.movie-details {
		margin: 50px 0 0 0;
		padding: 0 10px;
	}

	.each-movie .movie-poster-container {
		width: 320px;
	}

	.search-movies-heading {
		padding: 0 8px;
	}

	.search-movies-form-field {
		width: 220px;
	}
}

@media screen and (max-width: 320px) {
	/*--- MOVIES ---*/
	.each-movie .movie-poster-container {
		width: 300px;
	}

	.search-movies-form-field {
		width: 160px;
	}
}
